<style>
	body {
		border: 1px solid;
		margin: 0;
		padding: 10px;
		font-family: sans-serif;
	}

	#text-container.hidden,
	#table-container.hidden,
	#preferences-container.hidden {
		display: none;
	}

	#text-container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	#text-container div {
		flex-basis: 0;
		flex-grow: 1;
		display: flex;
		align-items: center;
	}

	#text-container div span {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	#table-container {
		display: flex;
	}

	#table-container .column {
		display: flex;
		flex-direction: column;
	}

	#table-container .column:not(:first-child) {
		margin-left: 20px;
	}

	#preferences > * {
		display: block;
	}
</style>

<div id="text-container"></div>
<div id="table-container"></div>
<div id="preferences-container">
	<input id="preferences-league">
	<label><input id="preferences-restrict-window" type="checkbox">Restrict POE Window</label>
	<button id="preferences-open">Open</button>
</div>

<script src="View.js"></script>
