<style>
	@import '../../themeStyle.css';
	@import '../../sharedStyle.css';

	body {
		border: 1px solid;
		margin: 2px; /* so the border is visible */
		padding: 8px;
	}

	#text-container.hidden,
	#table-container.hidden,
		/* todo[high] rename dev-options-container */
	#preferences-container.hidden {
		display: none;
	}

	#text-container {
		display: block;
		height: 100%;
		overflow: auto;
	}

	#table-container {
		display: flex;
	}

	#table-container .column {
		display: flex;
		flex-direction: column;
	}

	#table-container .column:not(:first-child) {
		margin-left: 20px;
	}

	#preferences > * {
		display: block;
	}
</style>

<script>
	require('../../arevtur/xElements/import');
</script>

<x-formatted-text id="text-container"></x-formatted-text>
<div id="table-container"></div>
<div id="preferences-container">
	This is for developers.
	<div>
		<label><input id="preferences-restrict-window" type="checkbox">Restrict PoE Window</label>
	</div>
	<div>
		<button id="reset-pob">Reset PoB</button>
	</div>
	<div>
		<!-- todo[high] rename config-open -->
		<button id="preferences-open">Open config dir</button>
	</div>
</div>

<script src="View.js"></script>
