html {
	color: var(--primary);
	background: var(--back);
}

body {
	font-family: sans-serif;
}

.alternate {
	color: var(--alternate-primary);
}

.area {
	color: var(--area-primary);
	background: var(--area-back);
}

.header {
	color: var(--header-primary);
	background: var(--header-back);
}

.invalid {
	color: var(--invalid-primary);
	border-color: var(--invalid-primary);
	background: var(--invalid-back);
}

.valid {
	color: var(--valid-primary);
	border-color: var(--valid-primary);
	background: var(--valid-back);
}

.busy {
	color: var(--busy-primary);
	border-color: var(--busy-primary);
	background: var(--busy-back);
}

.hidden {
	display: none !important;
}

:focus {
	outline: 0;
	border-color: var(--interactable-focus-border);
}

button, input, select,
::-webkit-scrollbar-thumb, .interactable {
	background: var(--interactable-back);
	color: var(--interactable-primary);
	border: 1px solid var(--interactable-border);
	outline: 0;
}

button {
	outline: 0;
	cursor: pointer;
}

button:hover, input:hover, option:hover,
::-webkit-scrollbar-thumb:hover {
	background: var(--interactable-hover-back);
}

button:active, option:active,
::-webkit-scrollbar-thumb:active {
	background: var(--interactable-active-back);
}

input {
	padding: 3px;
}

progress {
	-webkit-appearance: none;
	height: 8px;
	border: 0;
}

progress::-webkit-progress-bar {
	background-color: var(--non-interactable-back);
}

progress::-webkit-progress-value {
	background-color: var(--non-interactable-fill);
}

::-webkit-scrollbar {
	background: var(--area-back);
	border: 1px solid var(--interactable-border);
	width: 12px;
}

.pob {
	outline: 1px var(--colored-text-red) solid;
}

.maximize-shown {
	display: var(--maximize-shown-display);
}

.maximized-hidden {
	display: var(--maximize-hidden-display);
}

/* todo[medium] checkbox styling */
