/* big items */

html {
	color: var(--primary);
	background: var(--back);
}

body {
	font-family: sans-serif;
}

.area {
	color: var(--area-primary);
	background: var(--area-back);
}

/* status indicators */

.busy {
	color: var(--busy-primary);
	border-color: var(--busy-primary);
	background: var(--busy-back);
}

.valid {
	color: var(--valid-primary);
	border-color: var(--valid-primary);
	background: var(--valid-back);
}

.invalid, input:not([type=number]):invalid {
	color: var(--invalid-primary);
	border-color: var(--invalid-primary);
	background: var(--invalid-back);
}

/* hidden */

.hidden {
	display: none !important;
}

/* inputs */

:focus {
	outline: 0;
	border-color: var(--interactable-focus-border);
}

button, input, select, textarea,
::-webkit-scrollbar-thumb, .interactable {
	background: var(--interactable-back);
	color: var(--interactable-primary);
	border: 1px solid var(--interactable-border);
	outline: 0;
}

button {
	outline: 0;
	cursor: pointer;
}

button:hover, input:hover, option:hover, textarea:hover,
::-webkit-scrollbar-thumb:hover {
	background: var(--interactable-hover-back);
}

button:active, input:active, option:active, textarea:active,
::-webkit-scrollbar-thumb:active {
	background: var(--interactable-active-back);
}

input {
	padding: 3px;
}

input[type=checkbox] {
	appearance: none;
	width: 1em;
	height: 1em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

input[type=checkbox]::before {
	content: "";
	width: 5px;
	height: 9px;
	border: solid var(--primary);
	border-width: 0 2px 2px 0;
	transform: rotate(35deg);
}

input[type=checkbox]:not(:checked)::before {
	visibility: hidden;
}

progress {
	-webkit-appearance: none;
	height: 8px;
	border: 0;
}

progress::-webkit-progress-bar {
	background-color: var(--non-interactable-back);
}

progress::-webkit-progress-value {
	background-color: var(--non-interactable-fill);
}

::-webkit-scrollbar {
	background: var(--area-back);
	border: 1px solid var(--interactable-border);
	width: 12px;
}

/* special */

.tour-highlight {
	z-index: 1;
	position: relative;
}

.pob {
	border: 1px solid var(--colored-text-pink);
}

/* state based */

.experimental {
	display: var(--experimental-display);
}

.version-1 {
	display: var(--version-1-display);
}

.version-2 {
	display: var(--version-2-display);
}

/* text */

.bold {
	font-weight: bold;
}

.red {
	color: var(--colored-text-red);
}

.orange {
	color: var(--colored-text-orange);
}

.gold {
	color: var(--colored-text-gold);
}

.green {
	color: var(--colored-text-green);
}

.light-green {
	color: var(--colored-text-light-green);
}

.blue {
	color: var(--colored-text-blue);
}

.pink {
	color: var(--colored-text-pink);
}
