:root {
	--primary: black;
	--back: white;

	/* areas that need to be distinguished e.g. inputs or outputs */
	--area-primary: black;
	--area-back: #f8f8f8;

	/* interactable elements e.g buttons or inputs */
	--interactable-primary: black;
	--interactable-back: white;
	--interactable-border: #ddd;
	--interactable-hover-back: #eee;
	--interactable-active-back: #ddd;
	--interactable-focus-border: #002ad0;

	/* non interactable elements that need to stand out e.g. progress bar */
	--non-interactable-back: #e5e5e5;
	--non-interactable-border: #888;
	--non-interactable-fill: #c8c8c8;

	/* invalid, valid, & busy */
	--invalid-primary: hsl(0, 100%, 13%);
	--invalid-back: hsl(0, 100%, 83%);
	--valid-primary: hsl(120, 100%, 13%);
	--valid-back: hsl(120, 100%, 83%);
	--busy-primary: hsl(32, 100%, 13%);
	--busy-back: hsl(32, 100%, 83%);

	/* colored text  */
	--colored-text-red: oklch(.75 .2 10);
	--colored-text-orange: oklch(.75 .2 50);
	--colored-text-gold: oklch(.75 .2 90);
	--colored-text-green: oklch(.75 .2 130);
	--colored-text-light-green: oklch(.75 .2 180);
	--colored-text-blue: oklch(.75 .2 240);
	--colored-text-pink: oklch(.75 .2 340);

	/* colored text backgrounds */
	--colored-text-background-red: oklch(.87 .2 10);
	--colored-text-background-orange: oklch(.87 .2 50);
	--colored-text-background-blue: oklch(.87 .2 240);
}

:root.dark {
	--primary: white;
	--back: black;

	/* areas that need to be distinguished e.g. inputs or outputs */
	--area-primary: white;
	--area-back: #111;

	/* interactable elements e.g buttons or inputs */
	--interactable-primary: white;
	--interactable-back: black;
	--interactable-border: #232;
	--interactable-hover-back: #333;
	--interactable-active-back: #555;
	--interactable-focus-border: var(--colored-text-blue);

	/* non interactable elements that need to stand out e.g. progress bar */
	--non-interactable-back: #20384f;
	--non-interactable-border: #667;
	--non-interactable-fill: #40586f;

	/* invalid, valid, & busy */
	--invalid-primary: hsl(0, 100%, 70%);
	--invalid-back: hsl(0, 100%, 13%);
	--valid-primary: hsl(120, 100%, 70%);
	--valid-back: hsl(120, 100%, 13%);
	--busy-primary: hsl(32, 100%, 70%);
	--busy-back: hsl(32, 100%, 13%);

	/* colored text are inherited */

	/* colored text backgrounds */
	--colored-text-background-red: oklch(.35 .1 10);
	--colored-text-background-orange: oklch(.35 .1 50);
	--colored-text-background-gold: oklch(.35 .1 90);
	--colored-text-background-green: oklch(.35 .1 130);
	--colored-text-background-light-green: oklch(.35 .1 180);
	--colored-text-background-blue: oklch(.35 .1 240);
	--colored-text-background-pink: oklch(.35 .1 340);
}

:root:not(.experimental) {
	--experimental-display: none;
}

:root.version-2 {
	--version-1-display: none;
}

:root:not(.version-2) {
	--version-2-display: none;
}
