:root {
	--primary: black;
	--alternate-primary: #02a; /* text that needs to stand out a bit */
	--back: white;

	/* areas that need to be distinguished e.g. inputs or outputs */
	--area-primary: black;
	--area-back: #f8f8f8;

	/* section headers */
	--header-primary: black;
	--header-back: #eee;

	/* interactable elements e.g buttons or inputs */
	--interactable-primary: black;
	--interactable-back: white;
	--interactable-border: #ddd;
	--interactable-hover-back: #eee;
	--interactable-active-back: #ddd;
	--interactable-focus-border: #002ad0;

	/* non interactable elements that need to stand out e.g. progress bar */
	--non-interactable-back: #e5e5e5;
	--non-interactable-border: #888;
	--non-interactable-fill: #c8c8c8;

	/* invalid, valid, & busy */
	--invalid-primary: hsl(0, 100%, 13%);
	--invalid-back: hsl(0, 100%, 83%);
	--valid-primary: hsl(120, 100%, 13%);
	--valid-back: hsl(120, 100%, 83%);
	--busy-primary: hsl(32, 100%, 13%);
	--busy-back: hsl(32, 100%, 83%);

	/* colored text */
	--colored-text-orange: lch(65 230 80);
	--colored-text-red: lch(65 230 0);
	--colored-text-green: lch(65 230 120);
	--colored-text-blue: lch(65 230 290);
	/*--colored-text-cyan: lch(77.25% 40.67 208.98);*/

	/* colored text backgrounds */
	--colored-text-background-orange: lch(85 40 80);
	--colored-text-background-red: lch(85 40 0);
	--colored-text-background-blue: lch(85 40 290);
}

:root.dark {
	--primary: white;
	--alternate-primary: #73b4e6; /* text that needs to stand out a bit */
	--back: black;

	/* areas that need to be distinguished e.g. inputs or outputs */
	--area-primary: white;
	--area-back: #111;

	/* section headers */
	--header-primary: white;
	--header-back: #20384f;

	/* interactable elements e.g buttons or inputs */
	--interactable-primary: white;
	--interactable-back: black;
	--interactable-border: #232;
	--interactable-hover-back: #333;
	--interactable-active-back: #555;
	--interactable-focus-border: #73b4e6;

	/* non interactable elements that need to stand out e.g. progress bar */
	--non-interactable-back: #20384f;
	--non-interactable-border: #667;
	--non-interactable-fill: #40586f;

	/* invalid, valid, & busy */
	--invalid-primary: hsl(0, 100%, 70%);
	--invalid-back: hsl(0, 100%, 13%);
	--valid-primary: hsl(120, 100%, 70%);
	--valid-back: hsl(120, 100%, 13%);
	--busy-primary: hsl(32, 100%, 70%);
	--busy-back: hsl(32, 100%, 13%);

	/* colored text are inherited */

	/* colored text backgrounds */
	--colored-text-background-orange: lch(25 40 80);
	--colored-text-background-red: lch(25 40 0);
	--colored-text-background-blue: lch(25 40 290);
}
