<style>
	body {
		border: 1px solid;
		margin: 0;
		padding: 10px;
		font-family: sans-serif;
	}

	#container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	#container div {
		flex-basis: 0;
		flex-grow: 1;
		display: flex;
		align-items: center;
	}

	#container div span {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	#container.hidden, .hidden {
		display: none;
	}
</style>

<div id="container"></div>
<div id="preferences">
	<input id="preferences-league">
	<label><input id="preferences-restrict-window" type="checkbox">Restrict POE Window</label>
	<button id="preferences-open">O</button>
</div>

<script src="View.js"></script>
